.form-container {
    margin: auto;
}
.contact-form {
    width: 480px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}
label,
input,
select,
option,
textarea {
    margin-bottom: 8px;
}

label {
    color: rgb(77, 76, 76);
}
input, 
select,
textarea {
    padding: 8px 16px;
    font-size: 16px;
}